{% extends "record/index.html" %}
{% block content %}
    <div class="row">
            <form action={% url 'searchresult'%} method="post" class="col-12 col-sm-12">
                {% csrf_token %}
                <div class="form-group">
                    <input class="offset-sm-2 col-sm-6" type="text" name="searchkey" value="" placeholder="Search Entries" id="searchkey">
                    <button class="ml-2 btn btn-success" type="submit">Submit</button>
                </div><br>
            </form>
    </div>
    <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">PhoneNo.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td id="name">{{ results.name }}</td>
                            <td id="email">{{ results.email }}</td>
                            <td id="phoneno">{{ results.phone_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}