{% extends 'record/index.html' %}
{% block content %}
<div class="container">
        <div class="offset-sm-2">
            <br>
            <div class="row"><h3 class="text-danger offset-sm-1">Update Entry</h3></div>
            <div class="row" id="content">
                <div class="col-12 offset-sm-1">
                    <br><br>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="mr-5">Name</label>
                            <input type="text" name="username" value="{{ username }}" id="username">
                        </div>
                        <div class="form-group">
                            <label class="mr-5" for="emailfield">Email</label>
                            <input type="email" name="email" value="{{ email }}" id="emailfield">
                        </div>
                        <div class="form-group">
                            <label class="mr-4" for="phonefield">PhoneNo</label>
                            <input type="tel" name="phone" value="{{ phone }}" id="phonefield">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" id="submitbutton" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}